# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
*.7z
*.user
cmake-build*
.idea
*.bz2
build_zsw
build*
.DS_Store
*.rar
backup
*.bag
.vscode
*~
*.tar.gz
devel
.catkin_workspace
data